$header-background: #0b0c10;
$header-foreground: #ffffff;

$logo-background: #303030;
$logo-foreground: #ffffff;

$content-background: #2a2d36;
$content-foreground: #ffffff;

$footer-background: #15161a;
$footer-foreground: #2a2d34;

$dimmed-foreground: #a5a9b5;

$accent: #cd7400;
